In [9]:
%reload_ext nb_black

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

In [2]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

In [19]:
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

df = pd.read_sql_query('select * from useducation',con=engine)
engine.dispose()

In [5]:
pd.set_option('display.max_columns', None)
df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,NaN,174053.0,8224.0,55460.0,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,NaN,37451.0,2371.0,10152.0,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,NaN,609114.0,2544.0,53497.0,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,NaN,145212.0,808.0,33511.0,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,NaN,2044688.0,59067.0,431763.0,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN

In [8]:
df.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,1492.000000,1.229000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.229000e+03,1.280000e+03,1319.000000,1360.000000,1361.000000,1361.000000,1361.00000,1.361000e+03,1.361000e+03,1.319000e+03,536.000000,532.000000,533.000000,498.000000
mean,2004.433646,9.159308e+05,9.092082e+06,7.663723e+05,4.216553e+06,4.109157e+06,9.196681e+06,4.762966e+06,2.680331e+06,4.292046e+05,9.027693e+05,17601.614102,63746.761029,64538.927259,64271.057311,54268.92432,5.192140e+05,2.470714e+05,8.024415e+05,234.768293,278.414711,218.866154,263.661132
std,7.393983,1.065280e+06,1.174519e+07,1.145242e+06,5.543072e+06,5.482971e+06,1.197813e+07,6.293004e+06,3.353349e+06,5.340693e+05,1.327562e+06,30016.166447,80205.138143,80293.387625,78910.545776,67889.27623,6.436384e+05,3.077056e+05,9.707031e+05,10.221511,10.159722,7.769616,6.803725
min,1992.000000,4.386600e+04,4.656500e+05,3.102000e+04,0.000000e+00,2.209300e+04,4.816650e+05,2.655490e+05,1.399630e+05,1.154100e+04,1.270800e+04,0.000000,544.000000,633.000000,437.000000,311.00000,4.878000e+03,1.808000e+03,7.254000e+03,187.134670,232.831510,178.557612,236.379102
25%,1998.000000,2.583140e+05,2.186305e+06,1.893540e+05,1.153097e+06,7.158345e+05,2.165404e+06,1.168032e+06,6.357900e+05,1.028310e+05,1.815645e+05,2021.000000,11745.000000,13739.000000,13342.000000,10919.00000,1.106260e+05,5.147100e+04,1.810650e+05,229.694352,272.761598,214.663401,259.533171
50%,2004.000000,6.483130e+05,5.079546e+06,4.033765e+05,2.537074e+06,2.055780e+06,5.234506e+06,2.657452e+06,1.525406e+06,2.715960e+05,5.102595e+05,8106.000000,41597.500000,43272.000000,43339.000000,36735.00000,3.457750e+05,1.642600e+05,5.503420e+05,237.238552,280.618803,220.416034,265.010912
75%,2011.000000,1.014528e+06,1.085985e+07,8.289660e+05,5.080939e+06,4.768680e+06,1.074519e+07,5.568028e+06,3.229651e+06,5.186000e+05,9.668515e+05,22295.000000,73865.250000,75481.000000,76566.000000,67460.00000,6.119050e+05,2.905020e+05,9.282755e+05,241.995486,285.347428,223.999337,268.190121
max,2017.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,1.022366e+07,250911.000000,530531.000000,493415.000000,500143.000000,498403.00000,3.929869e+06,2.013687e+06,5.944746e+06,253.420961,300.568235,236.773867,280.499130

### Q1###

In [6]:
#Variable Types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1492 non-null   object
 1   STATE                         1492 non-null   object
 2   YEAR                          1492 non-null   int64
 3   ENROLL                        1229 non-null   float64
 4   TOTAL_REVENUE                 1280 non-null   float64
 5   FEDERAL_REVENUE               1280 non-null   float64
 6   STATE_REVENUE                 1280 non-null   float64
 7   LOCAL_REVENUE                 1280 non-null   float64
 8   TOTAL_EXPENDITURE             1280 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1280 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1280 non-null   float64
 11  OTHER_EXPENDITURE             1229 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1280 non-null   float64
 13  GRADES_PK_G                   1319 non-null   float64
 14  GRADES_KG_G                   1360 non-null   float64
 15  GRADES_4_G                    1361 non-null   float64
 16  GRADES_8_G                    1361 non-null   float64
 17  GRADES_12_G                   1361 non-null   float64
 18  GRADES_1_8_G                  1361 non-null   float64
 19  GRADES_9_12_G                 1361 non-null   float64
 20  GRADES_ALL_G                  1319 non-null   float64
 21  AVG_MATH_4_SCORE              536 non-null    float64
 22  AVG_MATH_8_SCORE              532 non-null    float64
 23  AVG_READING_4_SCORE           533 non-null    float64
 24  AVG_READING_8_SCORE           498 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

In [7]:
p_missing=df.isna().sum()/len(df)
p_missing

PRIMARY_KEY                     0.000000
STATE                           0.000000
YEAR                            0.000000
ENROLL                          0.176273
TOTAL_REVENUE                   0.142091
FEDERAL_REVENUE                 0.142091
STATE_REVENUE                   0.142091
LOCAL_REVENUE                   0.142091
TOTAL_EXPENDITURE               0.142091
INSTRUCTION_EXPENDITURE         0.142091
SUPPORT_SERVICES_EXPENDITURE    0.142091
OTHER_EXPENDITURE               0.176273
CAPITAL_OUTLAY_EXPENDITURE      0.142091
GRADES_PK_G                     0.115952
GRADES_KG_G                     0.088472
GRADES_4_G                      0.087802
GRADES_8_G                      0.087802
GRADES_12_G                     0.087802
GRADES_1_8_G                    0.087802
GRADES_9_12_G                   0.087802
GRADES_ALL_G                    0.115952
AVG_MATH_4_SCORE                0.640751
AVG_MATH_8_SCORE                0.643432
AVG_READING_4_SCORE             0.642761
AVG_READING_8_SCORE             0.666220
dtype: float64

### Q2 ###

Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

Basically all of these would make sense to fill in with a measure of central tendency, but the last four (math and reading scores) are probably missing too much data to be meaningful. Thsese should probably just be tossed.

In [12]:
df2 = df.copy()
fill_cols = [
    "ENROLL",
    "TOTAL_REVENUE",
    "FEDERAL_REVENUE",
    "STATE_REVENUE",
    "LOCAL_REVENUE",
    "TOTAL_EXPENDITURE",
    "INSTRUCTION_EXPENDITURE",
    "SUPPORT_SERVICES_EXPENDITURE",
    "OTHER_EXPENDITURE",
    "CAPITAL_OUTLAY_EXPENDITURE",
    "GRADES_PK_G",
    "GRADES_KG_G",
    "GRADES_4_G",
    "GRADES_8_G",
    "GRADES_12_G",
    "GRADES_1_8_G",
    "GRADES_9_12_G",
    "GRADES_ALL_G",
]
for col in fill_cols:
    df2.loc[:, col] = df2.loc[:, col].fillna(df2.loc[:, col].mean())
df2

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,915930.820993,2.678885e+06,3.041770e+05,1.659028e+06,7.156800e+05,2.653798e+06,1.481703e+06,7.350360e+05,429204.616762,1.740530e+05,8224.000000,55460.000000,57948.000000,58025.000000,41167.00000,4.715640e+05,1.963860e+05,6.761740e+05,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,915930.820993,1.049591e+06,1.067800e+05,7.207110e+05,2.221000e+05,9.724880e+05,4.983620e+05,3.509020e+05,429204.616762,3.745100e+04,2371.000000,10152.000000,9748.000000,8789.000000,6714.00000,7.911700e+04,3.084700e+04,1.123350e+05,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,915930.820993,3.258079e+06,2.978880e+05,1.369815e+06,1.590376e+06,3.401580e+06,1.435908e+06,1.007732e+06,429204.616762,6.091140e+05,2544.000000,53497.000000,55433.000000,49081.000000,37410.00000,4.371270e+05,1.752100e+05,6.148810e+05,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,915930.820993,1.711959e+06,1.785710e+05,9.587850e+05,5.746030e+05,1.743022e+06,9.643230e+05,4.834880e+05,429204.616762,1.452120e+05,808.000000,33511.000000,34632.000000,36011.000000,27651.00000,2.813380e+05,1.231130e+05,4.052590e+05,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,915930.820993,2.626002e+07,2.072470e+06,1.654651e+07,7.641041e+06,2.713883e+07,1.435892e+07,8.520926e+06,429204.616762,2.044688e+06,59067.000000,431763.000000,418418.000000,363296.000000,270675.00000,3.286034e+06,1.372011e+06,4.717112e+06,208.398961,260.892247,196.764414,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1487,2017_VIRGINIA,VIRGINIA,2017,915930.820993,9.092082e+06,7.663723e+05,4.216553e+06,4.109157e+06,9.196681e+06,4.762966e+06,2.680331e+06,429204.616762,9.027693e+05,17601.614102,63746.761029,64538.927259,64271.057311,54268.92432,5.192140e+05,2.470714e+05,8.024415e+05,248.041059,290.081407,227.598382,273.402640
1488,2017_WASHINGTON,WASHINGTON,2017,915930.820993,9.092082e+06,7.663723e+05,4.216553e+06,4.109157e+06,9.196681e+06,4.762966e+06,2.680331e+06,429204.616762,9.027693e+05,17601.614102,63746.761029,64538.927259,64271.057311,54268.92432,5.192140e+05,2.470714e+05,8.024415e+05,241.701001,289.131257,223.123409,267.744778
1489,2017_WEST_VIRGINIA,WEST_VIRGINIA,2017,915930.820993,9.092082e+06,7.663723e+05,4.216553e+06,4.109157e+06,9.196681e+06,4.762966e+06,2.680331e+06,429204.616762,9.027693e+05,17601.614102,63746.761029,64538.927259,64271.057311,54268.92432,5.192140e+05,2.470714e+05,8.024415e+05,236.057019,273.415854,217.316396,271.617023
1490,2017_WISCONSIN,WISCONSIN,2017,915930.820993,9.092082e+06,7.663723e+05,4.216553e+06,4.109157e+06,9.196681e+06,4.762966e+06,2.680331e+06,429204.616762,9.027693e+05,17601.614102,63746.761029,64538.927259,64271.057311,54268.92432,5.192140e+05,2.470714e+05,8.024415e+05,240.389213,288.143144,219.612694,258.700304
1491,2017_WYOMING,WYOMING,2017,915930.820993,9.092082e+06,7.663723e+05,4.216553e+06,4.109157e+06,9.196681e+06,4.762966e+06,2.680331e+06,429204.616762,9.027693e+05,17601.614102,63746.761029,64538.927259,64271.057311,54268.92432,5.192140e+05,2.470714e+05,8.024415e+05,247.820619,288.761812,226.831211,269.371456

### Q3 ###

Now, take into account the time factor. Replicate your second answer but this time fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

In [20]:
df3 = df.copy()

# for col in fill_cols:
#     df2.loc[:, col] = df2.loc[:, col].fillna(
#         df2.loc[:, [col, "YEAR"]].groupby(by=["YEAR"]).mean()
#     )

# for col in fill_cols:
#     df3[col] = df3[col].fillna(df3.groupby(by="YEAR").mean())

for col in fill_cols:
    df3[col] = df3.groupby(["YEAR"], sort=False)[col].apply(
        lambda x: x.fillna(x.mean())
    )

### Q4 ###

This time, fill in the missing values using interpolation (extrapolation).

In [21]:
df4 = df.copy()

for col in fill_cols:
    df4[col] = df4[col].interpolate()

In [23]:
for col in fill_cols:
    print("Statistics for columns: {}".format(col))
    print(pd.concat([df[col], df2[col], df3[col], df4[col],], axis=1,).describe())

Statistics for columns: ENROLL
             ENROLL        ENROLL        ENROLL        ENROLL
count  1.229000e+03  1.492000e+03  1.385000e+03  1.456000e+03
mean   9.159308e+05  9.159308e+05  9.161654e+05  1.005984e+06
std    1.065280e+06  9.667725e+05  1.003532e+06  1.009158e+06
min    4.386600e+04  4.386600e+04  4.386600e+04  4.386600e+04
25%    2.583140e+05  3.150940e+05  2.867590e+05  2.973995e+05
50%    6.483130e+05  8.204140e+05  7.374010e+05  7.540845e+05
75%    1.014528e+06  9.211780e+05  9.624880e+05  1.595024e+06
max    6.307022e+06  6.307022e+06  6.307022e+06  6.307022e+06
Statistics for columns: TOTAL_REVENUE
       TOTAL_REVENUE  TOTAL_REVENUE  TOTAL_REVENUE  TOTAL_REVENUE
count   1.280000e+03   1.492000e+03   1.441000e+03   1.492000e+03
mean    9.092082e+06   9.092082e+06   9.084108e+06   1.111164e+07
std     1.174519e+07   1.087818e+07   1.110204e+07   1.200155e+07
min     4.656500e+05   4.656500e+05   4.656500e+05   4.656500e+05
25%     2.186305e+06   2.546261e+06   2.425600e+06   2.546261e+06
50%     5.079546e+06   6.359310e+06   5.778507e+06   6.351760e+06
75%     1.085985e+07   9.276958e+06   1.116863e+07   1.803650e+07
max     8.921726e+07   8.921726e+07   8.921726e+07   8.921726e+07
Statistics for columns: FEDERAL_REVENUE
       FEDERAL_REVENUE  FEDERAL_REVENUE  FEDERAL_REVENUE  FEDERAL_REVENUE
count     1.280000e+03     1.492000e+03     1.441000e+03     1.492000e+03
mean      7.663723e+05     7.663723e+05     7.662749e+05     8.922691e+05
std       1.145242e+06     1.060702e+06     1.085057e+06     1.106788e+06
min       3.102000e+04     3.102000e+04     3.102000e+04     3.102000e+04
25%       1.893540e+05     2.170200e+05     2.068530e+05     2.170200e+05
50%       4.033765e+05     5.167410e+05     4.461800e+05     5.165190e+05
75%       8.289660e+05     7.663723e+05     8.956420e+05     1.411794e+06
max       9.990221e+06     9.990221e+06     9.990221e+06     9.990221e+06
Statistics for columns: STATE_REVENUE
       STATE_REVENUE  STATE_REVENUE  STATE_REVENUE  STATE_REVENUE
count   1.280000e+03   1.492000e+03   1.441000e+03   1.492000e+03
mean    4.216553e+06   4.216553e+06   4.213597e+06   4.913351e+06
std     5.543072e+06   5.133895e+06   5.237195e+06   5.423675e+06
min     0.000000e+00   0.000000e+00   0.000000e+00   0.000000e+00
25%     1.153097e+06   1.356434e+06   1.319582e+06   1.356434e+06
50%     2.537074e+06   3.127639e+06   2.857497e+06   3.119414e+06
75%     5.080939e+06   4.269811e+06   5.187230e+06   8.020633e+06
max     5.090457e+07   5.090457e+07   5.090457e+07   5.090457e+07
Statistics for columns: LOCAL_REVENUE
       LOCAL_REVENUE  LOCAL_REVENUE  LOCAL_REVENUE  LOCAL_REVENUE
count   1.280000e+03   1.492000e+03   1.441000e+03   1.492000e+03
mean    4.109157e+06   4.109157e+06   4.104236e+06   5.306024e+06
std     5.482971e+06   5.078230e+06   5.181475e+06   5.900909e+06
min     2.209300e+04   2.209300e+04   2.209300e+04   2.209300e+04
25%     7.158345e+05   9.447962e+05   8.747060e+05   9.447962e+05
50%     2.055780e+06   2.697257e+06   2.398344e+06   2.650904e+06
75%     4.768680e+06   4.109157e+06   4.995971e+06   8.584803e+06
max     3.610526e+07   3.610526e+07   3.610526e+07   3.610526e+07
Statistics for columns: TOTAL_EXPENDITURE
       TOTAL_EXPENDITURE  TOTAL_EXPENDITURE  TOTAL_EXPENDITURE  \
count       1.280000e+03       1.492000e+03       1.441000e+03
mean        9.196681e+06       9.196681e+06       9.190557e+06
std         1.197813e+07       1.109393e+07       1.132084e+07
min         4.816650e+05       4.816650e+05       4.816650e+05
25%         2.165404e+06       2.523968e+06       2.427316e+06
50%         5.234506e+06       6.520224e+06       5.858385e+06
75%         1.074519e+07       9.434922e+06       1.116970e+07
max         8.532013e+07       8.532013e+07       8.532013e+07

       TOTAL_EXPENDITURE
count       1.492000e+03
mean        1.114374e+07
std         1.212433e+07
min         4.816650e+05
25%         2.523968e+06
50%         6.499891e+06
75%         1.801704e+07
max         8.532013e+07
Statistics for columns: INSTRUCTION_EXPENDITURE
       INSTRUCTION_EXPENDITURE  INSTRUCTION_EXPENDITURE  \
count             1.280000e+03             1.492000e+03
mean              4.762966e+06             4.762966e+06
std               6.293004e+06             5.828468e+06
min               2.655490e+05             2.655490e+05
25%               1.168032e+06             1.343611e+06
50%               2.657452e+06             3.358142e+06
75%               5.568028e+06             4.938820e+06
max               4.396452e+07             4.396452e+07

       INSTRUCTION_EXPENDITURE  INSTRUCTION_EXPENDITURE
count             1.441000e+03             1.492000e+03
mean              4.758243e+06             5.792260e+06
std               5.947042e+06             6.376549e+06
min               2.655490e+05             2.655490e+05
25%               1.306105e+06             1.343611e+06
50%               3.033016e+06             3.318778e+06
75%               5.672620e+06             9.130766e+06
max               4.396452e+07             4.396452e+07
Statistics for columns: SUPPORT_SERVICES_EXPENDITURE
       SUPPORT_SERVICES_EXPENDITURE  SUPPORT_SERVICES_EXPENDITURE  \
count                  1.280000e+03                  1.492000e+03
mean                   2.680331e+06                  2.680331e+06
std                    3.353349e+06                  3.105812e+06
min                    1.399630e+05                  1.399630e+05
25%                    6.357900e+05                  7.673688e+05
50%                    1.525406e+06                  1.913844e+06
75%                    3.229651e+06                  2.795888e+06
max                    2.605802e+07                  2.605802e+07

       SUPPORT_SERVICES_EXPENDITURE  SUPPORT_SERVICES_EXPENDITURE
count                  1.441000e+03                  1.492000e+03
mean                   2.677770e+06                  3.324275e+06
std                    3.170760e+06                  3.500830e+06
min                    1.399630e+05                  1.399630e+05
25%                    7.350360e+05                  7.673688e+05
50%                    1.720824e+06                  1.910412e+06
75%                    3.333043e+06                  5.435244e+06
max                    2.605802e+07                  2.605802e+07
Statistics for columns: OTHER_EXPENDITURE
       OTHER_EXPENDITURE  OTHER_EXPENDITURE  OTHER_EXPENDITURE  \
count       1.229000e+03       1.492000e+03       1.385000e+03
mean        4.292046e+05       4.292046e+05       4.286507e+05
std         5.340693e+05       4.846832e+05       5.041013e+05
min         1.154100e+04       1.154100e+04       1.154100e+04
25%         1.028310e+05       1.354282e+05       1.199340e+05
50%         2.715960e+05       3.672335e+05       3.070220e+05
75%         5.186000e+05       4.568915e+05       5.223475e+05
max         3.995951e+06       3.995951e+06       3.995951e+06

       OTHER_EXPENDITURE
count       1.456000e+03
mean        5.004288e+05
std         5.253843e+05
min         1.154100e+04
25%         1.279618e+05
50%         3.415810e+05
75%         8.490842e+05
max         3.995951e+06
Statistics for columns: CAPITAL_OUTLAY_EXPENDITURE
       CAPITAL_OUTLAY_EXPENDITURE  CAPITAL_OUTLAY_EXPENDITURE  \
count                1.280000e+03                1.492000e+03
mean                 9.027693e+05                9.027693e+05
std                  1.327562e+06                1.229564e+06
min                  1.270800e+04                1.270800e+04
25%                  1.815645e+05                2.163398e+05
50%                  5.102595e+05                6.482175e+05
75%                  9.668515e+05                9.027693e+05
max                  1.022366e+07                1.022366e+07

       CAPITAL_OUTLAY_EXPENDITURE  CAPITAL_OUTLAY_EXPENDITURE
count                1.441000e+03                1.492000e+03
mean                 9.044417e+05                1.033524e+06
std                  1.254176e+06                1.272901e+06
min                  1.270800e+04                1.270800e+04
25%                  2.062410e+05                2.163398e+05
50%                  5.809340e+05                6.436235e+05
75%                  1.024876e+06                1.717212e+06
max                  1.022366e+07                1.022366e+07
Statistics for columns: GRADES_PK_G
         GRADES_PK_G    GRADES_PK_G    GRADES_PK_G    GRADES_PK_G
count    1319.000000    1492.000000    1390.000000    1492.000000
mean    17601.614102   17601.614102   17672.581838   15926.059316
std     30016.166447   28221.111094   29263.483252   28669.479212
min         0.000000       0.000000       0.000000       0.000000
25%      2021.000000    2449.000000    2183.250000    1544.000000
50%      8106.000000   10505.000000    9066.500000    5910.500000
75%     22295.000000   19149.250000   22788.750000   19561.000000
max    250911.000000  250911.000000  250911.000000  250911.000000
Statistics for columns: GRADES_KG_G
         GRADES_KG_G    GRADES_KG_G    GRADES_KG_G    GRADES_KG_G
count    1360.000000    1492.000000    1390.000000    1492.000000
mean    63746.761029   63746.761029   63810.167724   59021.465818
std     80205.138143   76572.547833   79336.993597   78271.025323
min       544.000000     544.000000     544.000000     544.000000
25%     11745.000000   14016.000000   11928.500000    9926.750000
50%     41597.500000   48897.000000   42968.000000   38507.000000
75%     73865.250000   70372.750000   72972.250000   70748.750000
max    530531.000000  530531.000000  530531.000000  530531.000000
Statistics for columns: GRADES_4_G

          GRADES_4_G     GRADES_4_G     GRADES_4_G     GRADES_4_G
count    1361.000000    1492.000000    1390.000000    1492.000000
mean    64538.927259   64538.927259   64590.152441   59797.646113
std     80293.387625   76684.998585   79451.944548   78406.899202
min       633.000000     633.000000     633.000000     633.000000
25%     13739.000000   15195.500000   14190.500000   10117.250000
50%     43272.000000   49884.500000   44909.500000   38280.500000
75%     75481.000000   71814.250000   75149.750000   72310.250000
max    493415.000000  493415.000000  493415.000000  493415.000000
Statistics for columns: GRADES_8_G
          GRADES_8_G     GRADES_8_G     GRADES_8_G     GRADES_8_G
count    1361.000000    1492.000000    1390.000000    1492.000000
mean    64271.057311   64271.057311   64331.744106   59511.380027
std     78910.545776   75364.301721   78083.976028   77123.573668
min       437.000000     437.000000     437.000000     437.000000
25%     13342.000000   15682.750000   13698.250000   10252.000000
50%     43339.000000   49571.000000   44756.500000   38114.500000
75%     76566.000000   72131.000000   75016.250000   72598.250000
max    500143.000000  500143.000000  500143.000000  500143.000000
Statistics for columns: GRADES_12_G
        GRADES_12_G    GRADES_12_G    GRADES_12_G    GRADES_12_G
count    1361.00000    1492.000000    1390.000000    1492.000000
mean    54268.92432   54268.924320   54418.075582   50207.239276
std     67889.27623   64838.328605   67187.337112   66309.867155
min       311.00000     311.000000     311.000000     311.000000
25%     10919.00000   13437.000000   11161.750000    8951.000000
50%     36735.00000   39566.000000   37541.500000   33279.000000
75%     67460.00000   64616.250000   67026.000000   64920.500000
max    498403.00000  498403.000000  498403.000000  498403.000000
Statistics for columns: GRADES_1_8_G
       GRADES_1_8_G  GRADES_1_8_G  GRADES_1_8_G  GRADES_1_8_G
count  1.361000e+03  1.492000e+03  1.390000e+03  1.492000e+03
mean   5.192140e+05  5.192140e+05  5.196200e+05  4.810102e+05
std    6.436384e+05  6.147133e+05  6.368932e+05  6.286622e+05
min    4.878000e+03  4.878000e+03  4.878000e+03  4.878000e+03
25%    1.106260e+05  1.211522e+05  1.129712e+05  8.127325e+04
50%    3.457750e+05  4.015865e+05  3.611705e+05  3.097340e+05
75%    6.119050e+05  5.749118e+05  6.052242e+05  5.783400e+05
max    3.929869e+06  3.929869e+06  3.929869e+06  3.929869e+06
Statistics for columns: GRADES_9_12_G
       GRADES_9_12_G  GRADES_9_12_G  GRADES_9_12_G  GRADES_9_12_G
count   1.361000e+03   1.492000e+03   1.390000e+03   1.492000e+03
mean    2.470714e+05   2.470714e+05   2.474932e+05   2.286678e+05
std     3.077056e+05   2.938773e+05   3.044943e+05   3.005815e+05
min     1.808000e+03   1.808000e+03   1.808000e+03   1.808000e+03
25%     5.147100e+04   5.919750e+04   5.270300e+04   3.950675e+04
50%     1.642600e+05   1.817010e+05   1.706525e+05   1.472355e+05
75%     2.905020e+05   2.825390e+05   2.888522e+05   2.843505e+05
max     2.013687e+06   2.013687e+06   2.013687e+06   2.013687e+06
Statistics for columns: GRADES_ALL_G
       GRADES_ALL_G  GRADES_ALL_G  GRADES_ALL_G  GRADES_ALL_G
count  1.319000e+03  1.492000e+03  1.390000e+03  1.492000e+03
mean   8.024415e+05  8.024415e+05  8.029178e+05  7.478782e+05
std    9.707031e+05  9.126522e+05  9.456162e+05  9.291585e+05
min    7.254000e+03  7.254000e+03  7.254000e+03  7.254000e+03
25%    1.810650e+05  2.293578e+05  1.939785e+05  1.718665e+05
50%    5.503420e+05  6.473260e+05  5.983920e+05  4.591248e+05
75%    9.282755e+05  8.724220e+05  9.045562e+05  8.860948e+05
max    5.944746e+06  5.944746e+06  5.944746e+06  5.944746e+06

Seems like, for the grades,  interpolation generally reduces the median, while it increases it for measures of money. This probably has more to do with the ordering of the data than anything.

Importantly, the overall median is almost always higher than the year by year one. I suspect that this is because you have more data today, when both spending and grades are higher. So you're filling in more (lower) values for earlier dates.